body{
    background-color: #fdd11e;
    padding: 180px;
    color:white;
    font-size: xx-large;
    text-align: center
    };

.smiley{
    border: solid;
    border-radius: 100%;
    border-color: red;
}